/* ================================================================ */
/*  Alert                                                           */
/* ================================================================ */
.MuiAlert-message {
	margin-left: 24px;
	margin-right: 24px;
}
