/* ================================================================ */
/*  Alert Message                                                   */
/* ================================================================ */
.MuiAlert-message {
	margin-left: 24px;
	margin-right: 24px;
}

/* ================================================================ */
/*  Table                                                           */
/* ================================================================ */
.MuiTableCell-head {
	font-weight: 700;
}
